@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-blue;
}
.item-enter {
  animation: itemAnimationIn forwards;
  animation-fill-mode: both;
}
@keyframes itemAnimationIn {
  from {
    width: 30px;
  }
  to {
    width: 60px;
  }
}
